.container{
    display: block;
    border-radius: 10px;
    width: 500px;
    height: 550px;
    color: aliceblue;
    background: crimson;
    text-align: center;
}
h1{
    text-align: center;
}