

<div class="container">
    <h1>Weather Application</h1>

    <form>
        <input type="text" name="cityName" placeholder="Enter a City Name" ngModel="city">
        <button type="button" (click)="getWeather()">Get Weather</button>
    </form>
    
    <div *ngIf="weatherData">
        <h2>{{weatherData.name}}</h2>
        <p>Temparature: {{weatherData.main.temp}}</p>
        <p>Humidity: {{weatherData.main.Humidity}}</p>
        <p>Weather: {{weatherData.weather[0].description}}</p>
    </div>
</div>